
{% extends 'basic_app/base.html' %}
{% block body_block %}


<style>
    #hit
    {
         font-size: 15px;
    }

</style>
 <div class="columns is-mobile">
  <div class="column is-offset-one-fifth">

    {% for user in story %}
      {% if user.groups.all.0.name == "student_Doc" %}
      <h3>{{ user.username }} </h3>
                      {% endif %}
    {%endfor%}

<div class="field has-addons">
<form>
  <div class="control">
    <input id="hit" class="input is-large" name="q" type="text" placeholder="Search users..." value="{{ request.GET.q }}">
  </div>
  <div class="control">
  	<button id="hit" type="submit" class="btn btn-info">Search</button>
  </div>
  </form>
</div>


</div>
</div>
<div class="column is-one-quarter">

{% for user in users %}

{% if user.groups.all.0.name == "student_Doc" %}
<br>
<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
          {% if user.regiter_extra_model.image %}
<img class="image" src="{{ user.regiter_extra_model.image.url }}" width="120x120">
          {% else %}
            <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
          {% endif %}
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong id="hit">First name: {{ user.first_name }}  <br> Last name: {{ user.last_name }}</strong><br>
            <small id="hit">@{{ user.username }}</small>
        </p>

        <a href="{% url 'chat:newconversation' user.username %}" class="btn btn-success btn-lg">Send a message!</a>
          {% endif %}

      </div>
    </div>
  </article>
</div>
{% endfor %}


</div>
{% endblock %}
