
{% extends 'basic_app/base.html' %}
{% block body_block %}

<style>
    #hit
    {
         font-size: 15px;
    }

</style>
<h1>  Questions and Answers  </h1>

   {% for message in messages %}
                <h3><i id="message" style="background-color:red">{{message}}</i></h3>
                {% endfor %}
{% for QAS in QA %}

      <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a id-="hit" href = '/chat/QA/QA_detail/{{ QAS.id }}'><div class="caption">
          <h3> {{ QAS.subject }} </h3>
          <h4>{{ QAS.release_date }}</h4>

      </div></a>
    </div>
  </div>
    </div>
        {% endfor %}

              {% if not user.groups.all.0.name == "customer" %}

        <a href="{% url 'chat:QA_add'%}" class="btn btn-lg btn-success">add QA</a>
    {% endif %}


{% endblock %}
