{% extends 'basic_app/base.html' %}
{% block body_block %}

<style>
    #hit
    {
         font-size: 25px;
    }

    #aa
    {
             font-size: 18px;

    }
</style>

  <div class="container">
   <div class="card">
{% for message in errors %}
                <h3><i id="message" style="background-color:red">{{message}}</i></h3>
                {% endfor %}

        <div class =card-body>
          <h1 class =text-center>Login here </h1>
            <form  id="hit" action="" method="POST">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" name="username" placeholder="Username" class ="form-control">
    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="Password" class ="form-control">
                {% if error %}
                <i style="color:red;">{{error}}</i>
                {% endif %}
<input type="submit" name="" value="Login" class="btn-btn=danger">
</form>
</div>
  </div>
    <a id ="aa" class="btn btn-warning" href="{% url 'password_reset' %}">Forgot Password</a>

  </div>


{% endblock %}
