
{% extends 'basic_app/base.html' %}
{% block body_block %}
<style>
    #mergin
    {
    text-align: center
    }

</style>

<div class="section" id="mergin">
    <h1> About </h1></div>
    <div class="row">
    <div class="thumbnail" >

        <div class="btn btn-block LnG  ">
            <h3 >
            The company was founded by the Pozi team and the entrepreneurs Gabi Levin, Andrey Ruch, Tal Ohayon and Rafael Rubinov.<br>
            Two different types of experts one after another Psychologists and certified paid students who provide a free answer <br>Our Hungarian goal is to help a society experiencing general anxiety that has increased because of the corona
            All details are secure and confidential
    </nav>
        </div>
    </div>
    </div>
  </div>
</div>

{% endblock %}