
{% extends 'basic_app/base.html' %}
{% load crispy_forms_tags %}

{% block body_block %}

<div class ="container">
    <br>
    <div class ="card">
        <div class ="card-body">
            <h3 class="text-center ">Payment form</h3>
            <form action="" method="POST">
                {{ form | crispy }}
                  {% csrf_token %}
                <button class="btn-lg btn btn-success" type="submit">Send</button>
                      {% if error %}
                <i style="color:red;">{{error}}</i>
                {% endif %}
            </form>
        </div>
    </div>

</div>



{% endblock %}